*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav{
    background-color: #0082E6;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}